# Ignore arquivos de build do .NET
*.cache

# Build results
bin/
obj/

.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates